@model projetASP.Models.Etudiant 
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inscription</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    
    
    <link rel="stylesheet" href="~/css/Inscription.css" />
</head>
<body>
    <!-- MultiStep Form -->
    @*if (DateTime.Now <= ViewBag.Delai)*@
    @if (true)
    {
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-controller="Etudiant" asp-action="Inscription" method="post" id="msform" , name="msform">

                <fieldset class="field col-md-12">
                    <h2 class="fs-title">Données Personnelles</h2>
                    <br />

                    @Html.TextBoxFor(x => x.prenom, new { placeholder = "Prenom" })
                    <span asp-validation-for="prenom" class="text-danger"></span>

                    <input asp-for="nom" placeholder="Nom" />
                    <span asp-validation-for="nom" class="text-danger"></span>

                    <input asp-for="cin" placeholder="CIN" />
                    <span asp-validation-for="cin" class="text-danger"></span>

                    <input asp-for="cne" placeholder="CNE" />
                    <span asp-validation-for="cne" class="text-danger"></span>

                    <label for="dateNaiss" class="label" style="float:left">Date de naissance</label>
                    <input id="dateNaiss" asp-for="dateNaiss" type="date" />
                    <span asp-validation-for="dateNaiss" class="text-danger"></span>

                    <input asp-for="lieuNaiss" placeholder="Lieu de naissance" />
                    <span asp-validation-for="lieuNaiss" class="text-danger"></span>

                    <input asp-for="phone" placeholder="Tel" />
                    <span asp-validation-for="phone" class="text-danger"></span>

                    <input asp-for="gsm"  placeholder="GSM" />
                    <span asp-validation-for="gsm" class="text-danger"></span>

                    <input asp-for="email" placeholder="Email" />
                    <span asp-validation-for="email" class="text-danger"></span>

                    <input asp-for="address" placeholder="Adresse" />
                    <span asp-validation-for="address" class="text-danger"></span>

                    <input asp-for="nationalite" placeholder="Nationalité" />
                    <span asp-validation-for="nationalite" class="text-danger"></span>

                    <input asp-for="ville" placeholder="Ville" />
                    <span asp-validation-for="ville" class="text-danger"></span>


                    @*-------------------------------------------------------*@


                    <h2 class="fs-title">Mot de Passe</h2>
                    <br />
                    <input asp-for="password" placeholder="Mot de Passe" type="password" />
                    <span asp-validation-for="password" class="text-danger"></span>

                    <input name="cpass" placeholder="Confirmer le Mot de Passe" type="password" id="cpass" />


                    @*-------------------------------------------------------*@


                    <h2 class="fs-title">Baccalauréat</h2>
                    <br />
                    <label for="typeBac" style="float:left">Type de Bac :</label><br />
                    <select id="typeBac" style="float:left" asp-for="typeBac" asp-items=@ViewBag.typebac class="btn btn-dark btn-lg dropdown-toggle m-1"></select>
                    <span asp-validation-for="typeBac" class="text-danger"></span>
                    <br />
                    @Html.TextBoxFor(x => x.anneeBac, new { placeholder = "Année d'obtention du bac", required = "required" })
                    <span asp-validation-for="anneeBac" class="text-danger"></span>
                    <br />
                    @Html.TextBoxFor(x => x.noteBac, new { placeholder = "Note de BAC" })
                    <span asp-validation-for="noteBac" class="text-danger"></span>
                    <br />
                    <label for="mentionBac" style="float:left">Mention de Bac :</label>
                    <select id="mentionBac" asp-for="mentionBac" asp-items=@ViewBag.mentionbac class="btn btn-dark btn-lg dropdown-toggle mb-2"></select>

                    @*----------------------------------------------------------------------*@
                    <h2 class="fs-title">Choix de Filière</h2>
                    <table summary="" role="presentation" cellPadding="4" cellSpacing="0" class="form-matrix-table" data-component="matrix">
                        <tbody>
                            <tr>
                                <th style="border:none; width: 450px">
                                </th>
                                <th scope="col" class="form-matrix-column-headers form-matrix-column_0">
                                    <label id="label_1_col_0"> 1ere Choix </label>
                                </th>
                                <th scope="col" class="form-matrix-column-headers form-matrix-column_1">
                                    <label id="label_1_col_1"> 2 ème choix </label>
                                </th>
                                <th scope="col" class="form-matrix-column-headers form-matrix-column_2">
                                    <label id="label_1_col_2"> 3 eme Choix </label>
                                </th>
                            </tr>
                            <tr role="group" aria-labelledby="label_1 label_1_row_0">
                                <th scope="row" style="text-align:left" class="form-matrix-row-headers">
                                    <label id="label_1_row_0"> Genie Informatique </label>
                                </th>
                                <td style="text-align:center" class="form-matrix-values">
                                    <input id="F1" type="radio" name="choix1" value="F" onClick=desactivefilieres() />
                                </td>
                                <td style="text-align:center" class="form-matrix-values">
                                    <input id="F2" type="radio" name="choix2" value="F" onClick=desactivefilieres() />

                                </td>
                                <td style="text-align:center" class="form-matrix-values">
                                    <input id="F3" type="radio" name="choix3" value="F" onClick=desactivefilieres() />
                                </td>
                            </tr>
                            <tr role="group" aria-labelledby="label_1 label_1_row_1">
                                <th scope="row" style="text-align:left" class="form-matrix-row-headers">
                                    <label id="label_1_row_1"> Genie Telecominication et Réseau </label>
                                </th>
                                <td style="text-align:center" class="form-matrix-values">
                                    <input id="T1" type="radio" name="choix1" value="T" onClick=desactivefilieres() />
                                </td>
                                <td style="text-align:center" class="form-matrix-values">
                                    <input id="T2" type="radio" name="choix2" value="T" onClick=desactivefilieres() />
                                </td>
                                <td style="text-align:center" class="form-matrix-values">
                                    <input id="T3" type="radio" name="choix3" value="T" onClick=desactivefilieres() />
                                </td>
                            </tr>
                            <tr role="group" aria-labelledby="label_1 label_1_row_2">
                                <th scope="row" style="text-align:left" class="form-matrix-row-headers">
                                    <label id="label_1_row_2"> Genie Indus </label>
                                </th>
                                <td style="text-align:center" class="form-matrix-values">
                                    <input id="D1" type="radio" name="choix1" value="D" onClick=desactivefilieres() />
                                </td>
                                <td style="text-align:center" class="form-matrix-values">
                                    <input id="D2" type="radio" name="choix2" value="D" onClick=desactivefilieres() />
                                </td>
                                <td style="text-align:center" class="form-matrix-values">
                                    <input id="D3" type="radio" name="choix3" value="D" onClick=desactivefilieres() />
                                </td>
                            </tr>
                            <tr role="group" aria-labelledby="label_1 label_1_row_3">
                                <th scope="row" style="text-align:left" class="form-matrix-row-headers">
                                    <label id="label_1_row_3"> Genie Procede et M.C </label>
                                </th>
                                <td style="text-align:center" class="form-matrix-values">
                                    <input id="P1" type="radio" name="choix1" value="P" onClick=desactivefilieres() />
                                </td>
                                <td style="text-align:center" class="form-matrix-values">
                                    <input id="P2" type="radio" name="choix2" value="P" onClick=desactivefilieres() />
                                </td>
                                <td style="text-align:center" class="form-matrix-values">
                                    <input id="P3" type="radio" name="choix3" value="P" onClick=desactivefilieres() />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <br />
                    <input type="submit" name="submit" class="submit action-button" value="Submit" id="submit" />
                </fieldset>



            </form>


        </div>
    </div>
    }
    else
    {
        <p style="color:white;text-align:center;font-weight:bold;font-size:45px;position:relative;top:45%;text-shadow:4px 4px #000;">LA DATE A EXPEREE &#128549</p>
    }
    <!-- /.MultiStep Form -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="~/js/Inscription.js"></script>
    <script src="~/js/EtudiantScript.js"></script>
    <script type="text/javascript">
        $(".submit").click(function () {
            var pass = document.getElementById("pass").value;
            var cpass = document.getElementById("cpass").value;
            if (pass != cpass) {
                alert("Les deux mots de pass doivent correspondre !");
                return false;
            }
            else if (cin != ccin) {
                alert("Les deux cin doivent correspondre !");
                return false;
            }
            else if (email != cemail) {
                alert("Les deux email doivent correspondre !");
                return false;
            }
            else
                return true;
        });</script>
    @if (ViewBag.message != null)
    {
        <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.message");
        };


        </script>
    }
</body>
</html>


