@model projetASP.Models.Etudiant

@{
    ViewData["Title"] = "Modifications";
}

<h2>Modifications</h2>

<h4>Etudiant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Modification">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="cne" />
            <div class="form-group">
                <label asp-for="nom" class="control-label"></label>
                <input asp-for="nom" class="form-control" />
                <span asp-validation-for="nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prenom" class="control-label"></label>
                <input asp-for="prenom" class="form-control" />
                <span asp-validation-for="prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nationalite" class="control-label"></label>
                <input asp-for="nationalite" class="form-control" />
                <span asp-validation-for="nationalite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cin" class="control-label"></label>
                <input asp-for="cin" class="form-control" />
                <span asp-validation-for="cin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gsm" class="control-label"></label>
                <input asp-for="gsm" class="form-control" />
                <span asp-validation-for="gsm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ville" class="control-label"></label>
                <input asp-for="ville" class="form-control" />
                <span asp-validation-for="ville" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="typeBac" class="control-label"></label>
                <input asp-for="typeBac" class="form-control" />
                <span asp-validation-for="typeBac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="anneeBac" class="control-label"></label>
                <input asp-for="anneeBac" class="form-control" />
                <span asp-validation-for="anneeBac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="noteBac" class="control-label"></label>
                <input asp-for="noteBac" class="form-control" />
                <span asp-validation-for="noteBac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mentionBac" class="control-label"></label>
                <input asp-for="mentionBac" class="form-control" />
                <span asp-validation-for="mentionBac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="noteFstYear" class="control-label"></label>
                <input asp-for="noteFstYear" class="form-control" />
                <span asp-validation-for="noteFstYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="noteSndYear" class="control-label"></label>
                <input asp-for="noteSndYear" class="form-control" />
                <span asp-validation-for="noteSndYear" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="lieuNaiss" class="control-label"></label>
                <input asp-for="lieuNaiss" class="form-control" />
                <span asp-validation-for="lieuNaiss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photo_link" class="control-label"></label>
                <input asp-for="photo_link" class="form-control" />
                <span asp-validation-for="photo_link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choix" class="control-label"></label>
                <input asp-for="Choix" class="form-control" />
                <span asp-validation-for="Choix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Validated" /> @Html.DisplayNameFor(model => model.Validated)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Modified" /> @Html.DisplayNameFor(model => model.Modified)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Redoubler" /> @Html.DisplayNameFor(model => model.Redoubler)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="idFil" class="control-label"></label>
                <select asp-for="idFil" class="form-control" asp-items="ViewBag.idFil"></select>
                <span asp-validation-for="idFil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

