
@{
    Layout = "~/Views/Shared/_DepartementLayout.cshtml";
}

<html>
<head>

    <link rel="stylesheet" href="~/Content/css/importation.css" />
    <style>
       .circle {
            position: fixed;
            display: block;
        }

        #circle1 .circle {
            border-radius: 50%;
            transform: scale(1);
            transition: .5s;
        }

            #circle1 .circle:hover {
                transform: scale(1.4);
            }

            #circle1 .circle:nth-child(1) {
                width: 250px;
                height: 250px;
                border: 3px solid white;
                top: 250px;
                left: 450px;
                border-radius: 50%;
            }

            #circle1 .circle:nth-child(2) {
                width: 120px;
                height: 120px;
                right: 90px;
                top: 80px;
                background: white;
            }

            #circle1 .circle:nth-child(3) {
                width: 200px;
                height: 200px;
                right: 300px;
                bottom: 90px;
                border: 3px solid white;
            }

            #circle1 .circle:nth-child(4) {
                width: 50px;
                height: 50px;
                left: 400px;
                top: 50px;
                background: white;
            }
  
    </style>
</head>
<body id="thisone">
    <div class=col-lg-12 col-md-12 ">
        <br />
        <br />
        <br />
        <br />
        <div id="circle1">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <a class="button" href="#popup" style="top:200px;">Importer des notes</a>
        <div class="popup" id="popup">
            <div class="popup-inner col-lg-8 col-md-10 col-sm-12 ">
                <div class="popup__import">
                    @using (Html.BeginForm("ImporterNoteExcel", "Departement", FormMethod.Post, new { @class = "form-style-7", enctype = "multipart/form-data" }))
                    {

                        <h3 style="text-align:center">

                            <center>
                                <i class="material-icons">library_books</i>
                                Importer les Notes
                            </center>
                        </h3>
                        <br /><br />

                        <ul>

                            <li>
                                <div class="text">
                                    <span id="text-description">
                                        La departement doit charger un fichier EXCEL (cne, note1,note2) qui contient les notes des etudiants, noter bien que cette tache ne peut pas etre effectue sans le chargement des etudiant :
                                        <br />
                                        <br />
                                        1-  Choisir le fichier.<br />
                                        <br />
                                        2-  Cliquer sur importer pour charger les donnees dans la Database.<br />
                                    </span>
                                </div>
                            </li>
                            <li>
                                <input class="excelfile" type="file" name="excelfile" placeholder="File.xls" />
                                <br />
                            </li>




                            <li>
                                @if (ViewBag.errI != null)
                                {
                                    <script>
                                        alert('Probleme dans le fichier, verifier l\'extension')</script>
                                }

                                @if (ViewBag.err != null)
                                {
                                    <h1 class="text-danger">Vous devez charger les etudiants !</h1>
                                    <input type="submit" class="btn import" value="Importer" hidden />
                                }
                                else
                                {
                                    <input type="submit" class="btn import" value="Importer" />

                                }
                            </li>
                        </ul>
                        <a class="popup__close" href="#">X</a>
                    }
                </div>
            </div>
        </div>
        <script type="text/javascript">
            //auto expand textarea
            function adjust_textarea(h) {
                h.style.height = "20px";
                h.style.height = (h.scrollHeight) + "px";
            }
        </script>
        @if(null != TempData["alertMessage1"])
        {
        <script type="text/javascript">
       alert("@TempData["alertMessage1"]");
        </script>
        }
</body>
</html>



