
@{
    /**/

    /**/
    Layout = "~/Views/Shared/_DepartementLayout.cshtml";
}

<link rel="stylesheet" href="../Content/css/importation.css">

<style type="text/css">

    .form {
        background: linear-gradient(to bottom, #514A9D, #24C6DC);
        max-width: 700px;
        margin: 50px auto;
        border-radius: 50px;
        height: 800px;
        padding: 80px;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: black;
    }

    .vider {
        margin-top: 50px;
    }

    .button-vider {
        background-color: transparent !important;
        border: none !important;
        cursor: pointer;
        margin-left: 150px;
        display: inline-block;
    }

    .popppup {
        color: white;
        padding: 0 !important;
        width: 545px;
        margin-bottom: 150px !important;
        margin: 0px;
    }

        .popppup label {
            font-weight: bold;
            color: #061323;
        }

        .popppup input[type="date"] {
            background: rgba(0,0,0,0.3) !important;
            color: white;
            padding-left: 10px;
            border-radius: 10px;
            font-style: oblique;
            font-weight: normal !important;
        }

        .popppup span {
            font-size: 11px;
            color: black;
            font-style: italic;
        }

        .popppup input[type="submit"] {
            background: linear-gradient(to bottom, #11273F, #061323, #204773);
            width: 150px;
            cursor: pointer;
            border-color: none !important;
            color: white;
            padding-left: 10px;
            border-radius: 10px;
            margin-top: 20px;
        }

    .alert-white.rounded .icon {
        border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
    }

    .alert-white .icon {
        text-align: center;
        width: 45px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #bdbdbd;
        padding-top: 15px;
    }


        .alert-white .icon:after {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            display: block;
            content: '';
            width: 10px;
            height: 10px;
            border: 1px solid #bdbdbd;
            position: absolute;
            border-left: 0;
            border-bottom: 0;
            top: 50%;
            right: -6px;
            margin-top: -3px;
            background: #fff;
        }

    .alert {
        border-radius: 0;
        -webkit-border-radius: 0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.11);
        display: table;
        width: 100%;
    }

    .alert-white {
        background-image: linear-gradient(to bottom, #fff, #f9f9f9);
        border-top-color: #d8d8d8;
        border-bottom-color: #bdbdbd;
        border-left-color: #cacaca;
        border-right-color: #cacaca;
        color: #404040;
        padding-left: 61px;
        position: relative;
    }

        .alert-white.rounded {
            border-radius: 3px;
            -webkit-border-radius: 3px;
        }

        .alert-white .icon i {
            font-size: 20px;
            color: #fff;
            left: 12px;
            margin-top: -10px;
            position: absolute;
            top: 50%;
        }

        .alert-white .icon:after {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            display: block;
            content: '';
            width: 10px;
            height: 10px;
            border: 1px solid #bdbdbd;
            position: absolute;
            border-left: 0;
            border-bottom: 0;
            top: 50%;
            right: -6px;
            margin-top: -3px;
            background: #fff;
        }

        .alert-white .icon i {
            font-size: 20px;
            color: #fff;
            left: 12px;
            margin-top: -10px;
            position: absolute;
            top: 50%;
        }

        .alert-white.alert-warning .icon,
        .alert-white.alert-warning .icon:after {
            border-color: #d68000;
            background: #fc9700;
        }

    .alert-warning {
        background-color: #fcf8e3;
        border-color: #f1daab;
        color: #c09853;
    }
</style>
<br />
<br />
<div class="form">
    @using (Html.BeginForm("Setting", "Departement", FormMethod.Post, new { @class = "form-style-7", enctype = "multipart/form-data" }))
    {
        <h2 style="color:white !important">
            <center>
                <i class="material-icons">settings</i>
                Param&egrave;tres
            </center>

        </h2>
        <br /><br />

        <ul>
            <li>
                <div class="text">
                    <span id="text-description">
                        La partie configuration est obligatoire pour bien notifier les etudiants et aussi pour automatiser les processus d'atribution des filieres :<br />
                        <br />

                        1-  La date de notifiation ou la departement va Choisir une date pour notifier les etudiants qu ont pas valide leurs comptes pour choisir des filieres.<br />
                        <br />
                        2-  La date d'attribution des fili&egrave;res ou la departement va Choisir une date choisir une date pour l'attribution des filiere.<br />
                    </span>
                </div>
            </li>
        </ul>
        <br />
        <a class="button" href="#popup">Modifier</a>
        <div class="popup" id="popup">
            <div class="popup-inner" style="background-color:rgba(255,255,255,0.6)!important">
                <div class="popup__import  ">
                    <div class="popppup">
                        <div>
                            <label for="name">Date de fin d'inscription : </label>
                            <input type="date" name="dateNotification" maxlength="100" placeholder="Entrer la date" />
                            <span>par ex (07/10/2020 apres cette date l'inscription ne sera pas disponible) </span>
                        </div>
                        <div>
                            <label for="email">Date d'attribution des filieres :</label>
                            <input type="date" name="dateAttribution" maxlength="100" placeholder="Entrer la date" />
                            <span>apres cette date chaque etudiant va avoir la filiere qu'il merite</span>
                        </div>


                        <div>
                            <input type="submit" value="Confirmer" style="float:right">
                        </div>
                    </div>
                    <a class="popup__close" href="#">X</a>
                </div>
            </div>
        </div>
    }
    @using (Html.BeginForm("DeleteAllStudents", "Departement", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="vider">

            <span id="text-description" style="margin-left:30px;font-size:15px;">
                Pour supprimer tous les etudiants :
            </span>
            <button value="Vider la base de donnée" class="button-vider" style="margin-left:230px;"><i class="material-icons" style="color:#061323">delete</i></button>
        </div>
    }
    @using (Html.BeginForm("DeleteImportedStudents", "Departement", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <span id="text-description" style="margin-left:30px;  font-size:15px;">
                Pour supprimer les etudiants non redoublants :
            </span>
            <button value="Supprimer les Etudiants" class="button-vider"><i class="material-icons" style="color:#061323;">delete</i></button>

        </div>
    }
    @using (Html.BeginForm("ExtraireNonValide", "Departement", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <span id="text-description" style="margin-left:30px;  font-size:15px;">
                Extraire les etudiants nonValideCompte :
            </span>
            <button value="Extraire" class="button-vider"><i class="material-icons" style="color:#061323;">list</i></button>

        </div>
        <br />
        <div class="alert alert-warning alert-white rounded" style="margin-left:20px">
            <div class="icon">
                <i class="fa fa-warning"></i>
            </div>
            <span id="text-description" style="margin-left:30px;  font-size:15px; color:black !important">La date de fin d'inscription :@ViewBag.DatedeRappel</span><br />
            <span id="text-description" style="margin-left:30px;  font-size:15px; color:black !important"> La date d'attribution des filières :@ViewBag.Delai</span>
        </div>
    }

</div>
<div class="container-fluid" style="text-align:center;background-color:rgba(0,0,0,1);">Copyright © 2020 ENSA. All Rights Reserved.</div>
<script type="text/javascript">
    //auto expand textarea
    function adjust_textarea(h) {
        h.style.height = "20px";
        h.style.height = (h.scrollHeight) + "px";
    }
</script>
