@{
    ViewData["Title"] = "Index";
    Layout = null;
}
    <html>
    <head>
        <style>
            body {
            }
        </style>
    </head>
    <body>

        <h2>Index</h2>

    </body>

   

    </html>
